<form  class="form-inline">
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-md-6 offset-md-3">
                 <h1> Reservation Details</h1>
                 <br>
                 < <form name ="form" (ngSubmit)="f.form.valid && addReservation()" #f="ngForm"  class="form-inline">
                    <div class="form-group">
                    <label for="bookingId"> Booking Id :</label> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="text" name="BookingId" [(ngModel)]="reservation.bookingId" class="form-controller"><br>
                  </div> 
                 <br><br>
                 <div class="form-group">
                    <label for="UserProfile" class="control-label">User Profile :</label> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select id="userProfile" required #userProfile="ngModel" name="userProfile"   [(ngModel)]="userId" 
                     class="form-control">
                    <option value="-1">Select id</option>
                    <option *ngFor='let userprofile of userProfile' [value]="userprofile.userId">{{userProfile.userId}}</option>
                  </select>
                  </div>
                  
   <div class="form-group">
      <label for="totalFare">Total Fare :</label> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
      <input type="text" class="form-control" name="totalFare" [(ngModel)]="passenger.totalFare" #totalFare="ngModel" [ngClass]="{ 'is-invalid': f.submitted && totalFare.invalid }" required totalFare /><br>
      <div *ngIf="f.submitted && totalFare.invalid" class="invalid-feedback">
          <div *ngIf="totalFare.errors.required">totalFare is required</div>
      </div>  

      <div class="form-group">
          <label for="Ship" class="control-label"> Ship Details :</label> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <select id="ship" required #ship="ngModel" name="ship"   [(ngModel)]="shipId" 
           class="form-control">
          <option value="-1">Select id</option>
          <option *ngFor='let ship of ship' [value]="ship.shipId">{{ship.shipId}}</option>
        </select>
        </div>
        

                  <!-- <br><br>
    <div class="form-group">
    <label for="passengerName">Passenger Name :</label> &nbsp; &nbsp; &nbsp; 
    <input type="text" class="form-control" name="passengerName" [(ngModel)]="passenger.passengerName" #passengerName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && passengerName.invalid }" required passengerName /><br>
    <div *ngIf="f.submitted && passengerName.invalid" class="invalid-feedback">
        <div *ngIf="passengerName.errors.required">Passenger Name is required</div>
    </div>  
  </div>
  <br><br>
  <div class="form-group" [class.has-error]="gender.touched && gender.invalid">
       <label>Gender :</label>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <div class="form-control">
      <label class="radio-inline">
          <input type="radio" required #gender=ngModel value="male" name="gender"
             [(ngModel)]="passenger.gender">Male &nbsp;
    <label class="radio-inline">
        <input type="radio" required #gender=ngModel value="female" name="gender" 
        [(ngModel)]="passenger.gender">Female      
      </label>
    </label> 
    </div>
  </div>
  <br><br>
    <div class="form-group">
    <label for="age">Age :</label> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
    <input type="text" class="form-control" name="age" [(ngModel)]="passenger.age" #age="ngModel" [ngClass]="{ 'is-invalid': f.submitted && age.invalid }" required age /><br>
    <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
        <div *ngIf="age.errors.required">Age is required</div>
    </div>  
  </div>
  <br><br>
  <div class="form-group">
    <label for="aadharNumber">Aadhar Number :</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" name="aadharNumber" [(ngModel)]="passenger.aadharNumber" #aadharNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && aadharNumber.invalid }" required aadharNumber /><br>
    <div *ngIf="f.submitted && aadharNumber.invalid" class="invalid-feedback">
        <div *ngIf="aadharNumber.errors.required">Aadhar Number is required</div>
    </div> 
  </div>
  <br><br>
  <div class="form-group">
    <label for="seatNo">Seat Number :</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" name="seatNo" [(ngModel)]="passenger.seatNo"  #seatNo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && seatNo.invalid }" required seatNo /><br>
    <div *ngIf="f.submitted && seatNo.invalid" class="invalid-feedback">
        <div *ngIf="seatNo.errors.required">Seat Number is required</div>
    </div> 
  </div>
  <br><br>
  <div class="form-group">
    <label for="journeyDate">Journey Date :</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" name="journeyDate" [(ngModel)]="passenger.journeyDate"  #journeyDate="ngModel" 
    [ngClass]="{ 'is-invalid': f.submitted && journeyDate.invalid }" required journeyDate />
    <div *ngIf="f.submitted && journeyDate.invalid" class="invalid-feedback">
        <div *ngIf="journeyDate.errors.required">Journey Date is required</div> 
    </div>  
  </div>
  <br><br>
  <div class="form-group">
    <label for="Reservation" class="control-label">Reservation :</label> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select id="reservation" required #reservation="ngModel" name="reservation"   [(ngModel)]="bookingId" 
     class="form-control">
    <option value="-1">Select id</option>
    <option *ngFor='let reserve of reservation' [value]="reserve.bookingId">{{reserve.bookingId}}</option>
  </select>
  </div>
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Add Passenger"  class="form-controller"> 
              </form>
          </div>
        </div>
      </div>
  </div> -->
   --

<div class="form-group">
  <label>Number Of Seats</label><br>
  <input type="text" name="noOfSeats" [(ngModel)]="passenger.noOfSeats" class="form-controller"><br>
  <br><br>
</div>

<div class="form-group">
  <label>Card Number</label><br>
  <input type="text" name="cardNo" [(ngModel)]="passenger.cardNo" class="form-controller"><br>
  <br><br>
</div>

<div class="form-group">
  <label>Pin</label><br>
  <input type="text" name="pin" [(ngModel)]="passenger.pin" class="form-controller"><br>
  <br><br>
</div>

<div class="form-group">
  <label>Status</label><br>
  <input type="text" name="status" [(ngModel)]="passenger.status" class="form-controller"><br>
  <br><br>
</div>

  <input type="submit" value="addReservation"  class="form-controller"><br>
</form>


  