
<table class=table>
  <tr>
    <th>Route Id</th>
    <th>Distance</th>
    <th>Duration</th>
    <th>CostPerKm</th>
    <th>Source</th>
    <th>Destination</th>
    
  </tr>
  <tr *ngFor='let rou of routes'>
    <td>{{rou.routeId}}</td>
    <td>{{rou.distance}}</td>
    <td>{{rou.duration}}</td>
    <td>{{rou.costPerkm}}</td>
    <td>{{rou.source.locName}}</td>
    <td>{{rou.destination.locName}}</td>
    <td><button class="btn btn-primary"(click)="edit(rou)">Edit</button></td>
    <td><button class="btn btn-primary"(click)="delete(rou)">Delete</button></td>
</tr>
</table>
