
<header>
    <!-- <h1>Welcome to {{ title }}!</h1> -->
    <img width="100" alt="Angular Logo" src="/assets/shruise.jpg"> 
    <h1 style="color:rgb(0, 183, 255);">!!{{ title }}  Welcoming You Shwetha!!</h1>
</header>
<!-- <div style="text-align:center">
 
   <img width="300" alt="Angular Logo" src="/assets/shruise.jpg">
</div>
<div align ="center">
<h2>Sail Like a Whale.... </h2>
</div> -->
<ul>
  
    <li routerLinkActive="active"><a routerLink='/login'>Login</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
 
    <li routerLinkActive="active"><a routerLink='/register'>Register</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
  
</ul>
 

<router-outlet></router-outlet>

<footer>
    <h1 style="color:rgb(255, 0, 157); " >Thankyou For Travelling in shruise</h1>
    <h2 style="color:rgb(255, 0, 157);">Please Use this mode of transport to go to Home</h2>
    <img width="1500" height="100"  alt="Angular Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVHltTtoGkf-gJ6OI44q7dlWcL9cyV9FbrLsNd3XWsY8jTSD9K&s"> 
</footer>